{% extends 'coins/base_outside.html' %}

{% block content %}
<table align="center" width="90%" cellspacing="0" border="0">
    <tr>
        <td>


	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>
        </td></tr></table>

<!-- https://ordinarycoders.com/blog/article/django-password-reset -->
<!-- https://dev.to/abderrahmanemustapha/how-to-send-email-with-django-and-gmail-in-production-the-right-way-24ab -->

{% endblock %}


