<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>CryptoSpy v1 - logged out</title>
</head>
<body>
<br>
<table bgcolor="d9d743" align="center" width="90%" cellspacing="0" border="1">
    <tr><td><H3>CryptoSpy v1 - django - logged out page</H3></td></tr>
</table>
<br>

<table bgcolor="" align="center" width="90%" ="" cellspacing="0" border="1">
    <tr>
        <td width="30%">
        <H4>Logged out!</H4>
        <H5>Thanks {{ user.username }} for spending some quality time with the CryptoSpy today</H5>

    <H5><B>Redirecting after 3 seconds....</B></H5>
    <Br><BR>
        <bR>

<br>

<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->
<!-- https://overiq.com/django-1-10/django-logging-users-in-and-out/ -->

        </td>
    <td width="60%">
        <img src="https://source.unsplash.com/random/100×100/?ethereum">
    </td>
    </tr>
</table>

<br>
</body>
</html>