<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>CryptoSpy v1 - reset password</title>
</head>
<body>
<br>
<table bgcolor="d9d743" align="center" width="90%" cellspacing="0" border="1">
    <tr><td><H3>CryptoSpy v1 - django - password reset page</H3></td></tr>
</table>
<br>
<table bgcolor="" align="center" width="90%" cellspacing="0" border="1">
    <tr><td>
  Password reset form here....<br>




    </td></tr>
</table>
<br>

</body>
</html>