
{% extends 'coins/base_inside.html' %}
  {% load static %}
{% block content %}

<table align="center" width="90%" cellspacing="0" cellpadding="3" border="0">
    <tr>
        <td width="70%" valign="top" class="bg-gray">

<h5><b>How to start?</b></h5>
            <ul>
<li>Just follow the links above...</li>
<li>Create Wallet - add your first wallet to track</li>
<li>API list - use personal etherscan keys</li>
<li>Wallet list (in details) -  add your own hashtags and accounts for tracking</li>
<li>ENJOY!</li>
</ul>
<h5><b>About:</b></h5>
The CryptoSpy app will help you track ETH wallet operations, their owners' social media activity as well as related hashtags.

<br><br>


<h5><b>Contact:</b></h5>
Conclusions, opinions, suggestions, comments? Go on:<Br>
            cryptospyalert@
        </td>
    <td>

<img src="{% static 'eth3.png' %}" alt="My image">


    </td>
    </tr></table>
<br>
<table align="center" width="90%" cellspacing="0" border="0" >
    <tr>
        <td valign="top" align="right" class="bg-gray">
           <font color="black" size="2">&copy<i>CryptoSpy v1.3: 06.05.2022 &nbsp</i></font>
        </td>
    </tr></table>
<br>


{% endblock %}