
{% extends 'coins/base_inside.html' %}


{% load crispy_forms_tags %}
            {% block content %}
<table align="center" width="90%" cellspacing="0" border="0">
    <tr>
        <td>
       {% if object.mode == 'h' %}
             {{ object.twitter_hash_tag }}
            {% else %}
               {{ object.twitter_username }}
            {% endif %}
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
        <br><bR>
		{{ form|crispy }}
		<button class="btn btn-primary" type="submit">Delete
        {% if object.mode == 'h' %}
            HASHTAG
            {% else %}
            ACCOUNT
            {% endif %}
        </button>
	</form>
</div>
     </td></tr></table>
{% endblock %}