{% extends 'coins/base_outside.html' %}
{% load static %}
{% block content %}


<table align="center" width="95%" cellspacing="0" border="0">
    <tr>
        <td width="50%" valign="top" >
            <div class="bg-secondary">
                <b>About CryptoSpy v1:</b>
                <br>
                <i>Welcome to CryptoSpy - Your new (favourite) spy app!


                </i>
                <ul>
                    <li>track unlimited ETH addresses</li>
                    <li>get the current value of funds</li>
                    <li>spy defined movement on the wallet</li>
                    <li>automatically check the activity of tracked wallets on Twitter</li>
                    <li>get email notifications - SOON</li>
                </ul>
            </div>
        </td>
        <td align="center" valign="top">
<div class="bg-success">Tweets:</div>


             <div style="height: 190px; width: 99%; overflow-x: hidden; overflow-y: scroll; margin: 10px">
<a class="twitter-timeline" href="https://twitter.com/VitalikButerin">by VitalikButerin</a>
          </div>

</div>

            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


        </td>
    </tr>
</table>



<table align="center" width="95%" cellspacing="0" border="0">
    <tr class="bg-secondary">
        <td width="70%" valign="top" >
            <div>
                <b><font color="red">Sample tracked wallets:</font></b><br>
{% for wallet in wallets %}
                <b>{{ wallet.label }}:</b>
   <font color="blue">{{ wallet.eth_adress}}</font>
    <br>
{% endfor %}
                </div>
        </td>
<td align="right">
    <img src="{% static 'eth4.jpg' %}">

</td>
    </tr>
</table>


{% endblock %}


<!-- https://docs.djangoproject.com/en/4.0/ref/contrib/auth/#django.contrib.auth.models.User.password >>

