{% extends 'coins/base_inside.html' %}

            {% block content %}
<table align="center" width="90%" cellspacing="0" border="0">
    <tr>
        <td>

         <b>List of your followed wallets:</b>
<Br><br>
           <table border="1" bordercolor="PINK" cellspacing="0">
              <tr>
                  <td>
                      <b>LABEL (click for details)</b>&nbsp;&nbsp;
                  </td>
                  <td>
                      <b>ETH WALLET</b>&nbsp;&nbsp;
                  </td>
                    <td>
                      <b>MODIFY</b>&nbsp;&nbsp;
                  </td>
                  <td>
                      <b>GOOD BYE!</b>&nbsp;&nbsp;
                  </td>
</tr>
                {% for wallet in object_list %}
   <TR>
       <TD>
            <a href="{% url 'wallet_detail' wallet.id %}">
    {{ wallet.label }}
               </a>

       </TD>
       <TD>
         {{ wallet.eth_adress }}
       </TD>
       <TD>
          <a href="{% url 'wallet_update' wallet.id %}">
                <b><u>update</u></b>
                </a>
       </TD>
       <TD>
  <a href="{% url 'wallet_delete' wallet.id %}">
                   <font color="red">
                       <u>
             delete
                           </u>
                       </font>
            </a>
       </TD>
   </TR>
                  {% endfor %}
         </table>

<Br><BR>
<b>FAQ:</b><BR>
			1. How to see data from tracked wallets?<br>
			<i> Just click "LABEL (click for details)" next to the address you want.
			</i><br>

     </td></tr></table>
{% endblock %}
